<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messanger</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <h1>All Chats</h1>
  <br>
  <form action="/chats/new" method="get">
    <button>New Chat</button>
  </form>
    <%for(let chat of chats){%>
       <div class="chats">
        <p> from : <i><%=chat.from%></i></p>
        <div class="msg">
            <p> <%=chat.msg%></p>
            <form method="get" action="/chats/<%=chat.id%>/edit">
              <button>Edit</button>
            </form>

              <form method="post" action="/chats/<%=chat.id%>?_method=DELETE">
              <button>Delete</button>
            </form>
        </div>
        <p> received By <i><%=chat.to%></i></p>
      <hr>
      <p><%= chat.created_at?.toLocaleString("en-IN")%></p>
       </div>
      <br><br>
    <%}%>
</body>
</html>